bin/*
/tls-scanner

# Test artifacts and results
artifacts/
tls-test-results/
test-run.log
test-tls13-run.log
tls13-scan.log
*-scan.log
bench.sh

# test coverage
coverage.out

# prow job results
tls_failure_report.txt